.heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 80px;
    .loginLink {
      text-decoration: none;
      color: grey;
    }
    .loginLink:hover {
      text-decoration: underline;
      color: blue;
    }
  }
  
  .mainContainer {
    height: 100vh;
    display: flex;
    width: 100%;
  
    .formContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5rem;
  
      width: 50%;
      form {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
        input {
          height: 2.5rem;
          border-radius: 0.5rem;
          border: 2px solid rgb(187, 184, 184);
          padding-left: 7px;
        }
        input[type="submit"] {
          background-color: rgb(112, 107, 107);
          color: white;
          border-radius: 25px;
          width: 12rem;
          height: 3.2rem;
          font-size: large;
        }
        label {
          color: rgb(112, 107, 107);
        }
      }
    }
    .imageContainer {
      width: 50%;
      object-fit: contain;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .checkbox {
    display: flex;
    align-items: center;
    span {
      font-size: 1rem;
      color: rgb(2, 2, 2);
    }
    input {
      position: relative;
      bottom: 1px;
    }
  }
  
  .Policy {
    padding-top: 1.2 rem;
    font-size: 1rem;
  }
  
  @media only screen and (max-width: 900px) {
    .mainContainer {
      display: block;
      .formContainer {
        width: 100%;
      }
      .imageContainer {
        display: none;
      }
      .heading {
        align-items: center;
        padding-left: 0;
      }
    }
    .checkbox {
      input {
        bottom: 0 !important;
      }
    }
  }
  
  @media only screen and (max-width: 800px) {
    .checkbox {
      input {
        bottom: 10px !important;
      }
    }
  }
  @media only screen and (max-width: 1358px) {
    .checkbox {
      input {
        bottom: 10px;
      }
    }
  }
  
  @media only screen and (max-width: 550px) {
    .mainContainer {
      display: block;
      h1 {
        text-align: center;
      }
      .formContainer {
        width: 100%;
        form {
          padding-left: 1rem;
          padding-right: 1rem;
          .Submit {
            display: flex;
            justify-content: center;
          }
        }
      }
      .imageContainer {
        display: none;
      }
    }
    .checkbox {
      span {
        font-size: 0.8rem;
      }
    }
    .Policy {
      font-size: 0.8rem;
    }
  }
  